@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
}

.app{
  font-family: Roboto, Helvetica, Arial , sans-serif;
  display: flex;
  flex-direction: column;
  background: rgb(30, 41, 59);
  color: rgb(248, 250, 252);
  height: 100vh;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100vw;
  padding: 1.5rem 3rem;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.header >h2{
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header >h2:hover{
  cursor: pointer;
} 

.search-bar{
  position: relative;
  display: flex;
  align-items: center;
}

.icon{
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(248, 250, 252);
  position: absolute;
  left: 0px;
}

.search-input{
  padding: 0.5rem 2.5rem;
  background: rgb(30, 41, 59);
  border-width: 0px 0px 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(51, 65, 85);
  color: rgb(248, 250, 252);
  font-size: 1rem;
}

.search-input:focus{
  outline: none;
}

.product-container{
  background: #fff;
  color: rgb(30, 41, 59);
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  justify-content: space-around;
  overflow: auto;
}

.product-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem;
  width: 25rem;
  height: 30rem;
}

.image{
  object-fit: cover;
  max-width: 20rem;
  max-height: 25rem;
}

.product-title{
  font-size: 1.3rem;
  margin-top: 2rem;
  max-width: 20rem;
  text-align: center;
}

.product-title:hover{
  cursor: pointer;
  text-decoration: underline;
  color: rgb(15, 15, 146);
}